node_modules
package-lock.json
out/
make.bat
bin/
obj/
editing.temp.txt
output.dll
Microsoft.CodeAnalysis.CSharp.dll
System.CodeDom.dll
Microsoft.CodeAnalysis.dll
/settings.json
output.bin
/BBCodeInterpreter.deps.json
/BBCodeInterpreter.dll
/BBCodeInterpreter.exe
/BBCodeInterpreter.pdb
/BBCodeInterpreter.runtimeconfig.json
