node_modules
package-lock.json
out/
make.bat
bin/
obj/
BBCode.deps.json
BBCode.dll
BBCode.exe
BBCode.pdb
BBCode.runtimeconfig.json
editing.temp.txt
output.dll
Microsoft.CodeAnalysis.CSharp.dll
System.CodeDom.dll
Microsoft.CodeAnalysis.dll
/settings.json
