#output-content {
  background-color: #252526;
  color: #a9a9a9;
  font-family: monospace;
  cursor: text;
  min-height: calc(100% - 14px);
  border: 1px solid #3d3d3d;
  width: fit-content;
  min-width: calc(100% - 14px);
  margin: 6px;
}
#output-content>input[type=text] {
  background-color: #252526;
  color: #ccc;
  font-family: monospace;
  border: 1px solid #8888;
  width: calc(100% - 14px);
  margin: 0px 4px;
}
#output-content>ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

#output-content>ul>li.console-log-error {
  color: #ff0000;
}

#output-content>ul>li.console-log-debug {
  color: #707070;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background: #2e2e2e;
}
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border: 4px solid #2e2e2e;
}
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

#code-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: text;
}

#code-content li.current {
  background-color: #f004;
}

#code-content .c-line-number {
  color: #365b70;
  width: 20px;
  user-select: none;
  text-align: right;
  cursor: pointer;
}

#code-content .c-line-number:hover {
  color: transparent;
  outline: 2px solid #23964f;
  background-image: url(../gui/jump.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
}

#code-content .c-comment {
  color: #6b6b6b;
}

#code-content .c-num {
  color: #73ca94;
}

#code-content .c-label {
  margin-left: 40px;
  color: #6b2a6d;
}

#code-content .c-str {
  color: #ad7b5a;
}

#code-content .c-bool {
  color: #18408a;
}

#code-content .c-opcode {
  color: #ecda70;
}

#code-content .c-too-complicated {
  outline: 1px solid #fff2;
}

#code-content .c-too-complicated:hover {
  outline: 1px solid #fff4;
}

#code-content span {
  margin-left: 8px;
  display: inline-block;
}

#code-content .c-jump-to-target-stay > span:not(.c-line-number) {
  background-color: #23964f42;
  outline: 2px solid #23964f9d;
}

#code-content .c-jump-to-target > span:not(.c-line-number) {
  background-color: #23964f7e !important;
  outline: 2px solid #23964f !important;
}

#code-content .c-jump-to-from:hover {
  background-color: #3673c47e;
  outline: 2px solid #3673c4;
  cursor: pointer;
}
#code-content .c-jump-to-from:active {
  background-color: #3674c4ab;
}

#code-content .c-jump-to-from-stay:not(:hover):not(:active) {
  background-color: #3673c442;
  outline: 2px solid #3673c49d;
}

#code-content .c-jump-to-from i {
  margin-left: 4px;
  color: #777;
  transform: scale(.7);
}

#code-content i.fa-solid.fa-database {
  margin-left: 4px;
  color: #777;
  transform: scale(.7);
}

#code-content .stack-higlighted > span:not(.c-line-number) {
  background-color: #c471247e;
  outline: 2px solid #c47124;
}
#code-content .stack-higlighted-error > span:not(.c-line-number) {
  background-color: #c424247e;
  outline: 2px solid #c42424;
}

#code-content .heap-higlighted > span:not(.c-line-number) {
  background-color: #c471247e;
  outline: 2px solid #c47124;
}
#code-content .heap-higlighted-error > span:not(.c-line-number) {
  background-color: #c424247e;
  outline: 2px solid #c42424;
}

#code-content .c-label-tag {
  color: #555;
  user-select: none;
}

#toolbar-drag {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 30px;
  width: calc(100% - 200px);
  display: block;
  float: right;
  cursor: grab;
}
#toolbar-drag:active {
  cursor: grabbing;
}
#toolbar {
  width: 100%;
  height: 30px;
  user-select: none;
}

#toolbar > .btn {
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  font-size: 14px;
  display: inline-block;  
  margin: 4px 0px 4px 4px;
}

#toolbar > .btn-text {
  height: 18px;
  border: 1px solid transparent;
  font-size: 14px;
  display: inline-block;  
  margin: 4px 0px 4px 4px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(-2px);
  padding: 2px 2px 0px 2px;
}

#toolbar > .btn > i {
  margin: 4px;
}

#toolbar > .btn:not(.btn-disabled):hover,
#toolbar > .btn-text:not(.btn-disabled):hover
 {
  background-color: #3d3d3d;
  border: 1px solid #707070;
}

#toolbar > .btn:not(.btn-disabled):active,
#toolbar > .btn-text:not(.btn-disabled):active
 {
  background-color: #2e2e2e;
  border: 1px solid #707070;
}

#toolbar > .btn-disabled {
  color: #555 !important;
  pointer-events: none;
}

#stack-content table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

#stack-content table tr:first-child > th:first-child {
  width: 30px;
}

#stack-content table tr,
#stack-content table td,
#stack-content table th {
  margin: 0;
}

#stack-content td {
  border: 2px solid #444;
  background-color: #ffffff05;
  height: 21px;
}

#stack-content table .stack-item-higlighted {
  background-color: #c4712462 !important;
  border-color: #c47124 !important;
  outline: 1px solid #c47124;
}
#stack-content table .stack-item-higlighted td {
  border-color: #c47124 !important;
}

#stack-content table tr td:first-child span {
  color: #365b70;
  user-select: none;
  float: right;
  margin-right: 2px;
}

#stack-content table tr td:last-child span,
#stack-content table tr td:last-child i {
  margin-left: 4px;
}

#stack-content table tr td i {
  transform: translate(1px, 1px);
}

#stack-content table tr td:first-child i {
  float: left;
}

#stack-content table tr > td > span {
  display: inline-block;
}

#stack-content table tr > td > i.st-base-pointer {
  color: #555555;
}
#stack-content table tr > td > i.st-base-pointer.st-base-pointer-active {
  color: #3673c4 !important;
}
#stack-content table tr > td > i.st-return-value {
  color: #999;
  border: 1px solid #fff2;
  background-color: #fff1;
  height: 11px;
  padding: 1px 1px 2px 1px;
}
#stack-content table tr > td > i.st-return-value:before {
  font-size: 12px;
}
#stack-content table tr > td > i.st-return-value.st-return-value-active {
  color: #3673c4 !important;
}

#stack-content .st-num {
  color: #73ca94;
}

#stack-content .st-str {
  color: #ad7b5a;
}

#stack-content .st-bool {
  color: #18408a;
}

#stack-content .st-tag {
  color: #555555;
}

#stack-content .stack-label-var {
  border: 1px solid #fff2;
  background-color: #fff1;
  color: #999;
  height: 1em;
  padding: 0px 2px 1px 2px;
}
#stack-content .stack-label-var > div {
  width: 1em;
  height: 1em;
  transform: translate(1px, 1px);
}
#stack-content .stack-label-var > div > div {
  background-color: #999 !important;
}

#heap-content table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

#heap-content table tr:first-child > th:first-child {
  width: 30px;
}

#heap-content table tr,
#heap-content table td,
#heap-content table th {
  margin: 0;
}

#heap-content td {
  border: 2px solid #444;
  background-color: #ffffff05;
  height: 21px;
}

#heap-content table .heap-item-higlighted {
  background-color: #c4712462 !important;
  border-color: #c47124 !important;
  outline: 1px solid #c47124;
}
#heap-content table .heap-item-higlighted td {
  border-color: #c47124 !important;
}

#heap-content table tr td:first-child span {
  color: #365b70;
  user-select: none;
  float: right;
  margin-right: 2px;
}

#heap-content table tr td:last-child span,
#heap-content table tr td:last-child i {
  margin-left: 4px;
}

#heap-content table tr td i {
  transform: translate(1px, 1px);
}

#heap-content table tr td:first-child i {
  float: left;
}

#heap-content table tr > td > span {
  display: inline-block;
}

#heap-content table tr > td > i.st-base-pointer {
  color: #555555;
}
#heap-content table tr > td > i.st-base-pointer.st-base-pointer-active {
  color: #3673c4 !important;
}
#heap-content table tr > td > i.st-return-value {
  color: #999;
  border: 1px solid #fff2;
  background-color: #fff1;
  height: 11px;
  padding: 1px 1px 2px 1px;
}
#heap-content table tr > td > i.st-return-value:before {
  font-size: 12px;
}
#heap-content table tr > td > i.st-return-value.st-return-value-active {
  color: #3673c4 !important;
}

#heap-content .st-num {
  color: #73ca94;
}

#heap-content .st-str {
  color: #ad7b5a;
}

#heap-content .st-bool {
  color: #18408a;
}

#heap-content .st-tag {
  color: #555555;
}

#heap-content .heap-label-var {
  border: 1px solid #fff2;
  background-color: #fff1;
  color: #999;
  height: 1em;
  padding: 0px 2px 1px 2px;
}
#heap-content .heap-label-var > div {
  width: 1em;
  height: 1em;
  transform: translate(1px, 1px);
}
#heap-content .heap-label-var > div > div {
  background-color: #999 !important;
}

#error-log-content {
  background-color: #252526;
  color: #a9a9a9;
  font-family: monospace;
  margin: 0px;
  width: fit-content;
  min-width: calc(100% - 14px);
  cursor: text;
  min-height: calc(100% - 14px);
  border: 1px solid #3d3d3d;
  margin: 6px;
}
#error-log-content>ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  white-space: nowrap;
}

body, html {
   overflow: hidden;
}

#statusbar {
  background-color: #424242;
  height: 23px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

#statusbar > span {
  position: relative;
  top: 2px;
  margin-left: 4px;
  font-size: 14px;
}

#files-content > ul {
  list-style: none;
  padding: 5px 10px;
}

#files-content > ul > li {
  border: 1px solid transparent;
  padding: 1px 2px;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
  min-width: 100%;
}

#files-content > ul > li:hover {
  border-color: #70707088;
  background-color: #3d3d3d88;
}

#files-content > ul > li:active {
  border-color: #707070;
  background-color: #3d3d3d;
}

#files-content > ul > li > i {
  margin-right: 8px;
}

.mask-base {
  -webkit-mask-image: url(../../gui/var.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}